* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Menu: */

header nav {
    display: flex; /*Por padrão, os elementos ficam em linha, seguindo a propriedade flex-direction: row;*/
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgb(17, 78, 58)1%, rgba(46,203,151,1) 100%);
    height: 8vh;
}

header .img-logo{
    margin-top: 6px;
    margin-bottom: 6px;
}

header a{  
    margin-left: 15px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;  
}


header nav a:hover {
    color: #fff;
}

header .navbar-btn {
    margin-right: 15px;
    font-size: 16px;
    display: inline-block;
    width: 100px;
    height: 40px;
    padding: 6px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: color 0.3s ease-out,
                background-color 0.3s ease-out,
                border-color 0.3s ease-out;
}
header .navbar-btn:hover,
header .navbar-btn:active {
    background-color: rgba(17, 78, 58, 0.4);
    border-color: #fff;
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
}

/*Principal 1º section*/
#container {
    display: flex;
    flex-direction: row;
}

#about {
    background: linear-gradient(rgba(0, 24, 16, 0.9),rgba(0,0,0,.70)100%), url('/img/account.jpg') no-repeat;
    background-size: cover;
    position: fixed;
    width:50%;
    height: 92vh;
}

.text{
    margin: 90px 50px 0px 50px;
    font-size: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text p{
    text-align: justify;
    margin-bottom: 50px;
}

.text span{
    font-size: 22px;
    font-weight: bold;
    color:rgb(44, 161, 122);
}

.section1-btn{
    display: none;
}