* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Menu: */

header nav {
    display: flex; /*Por padrão, os elementos ficam em linha, seguindo a propriedade flex-direction: row;*/
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgb(17, 78, 58)1%, rgba(46,203,151,1) 100%);
    height: 8vh;
    border-bottom: rgba(0,0,0,0.1) solid 1px;
    box-shadow: 0 4px 2em #000;
    -webkit-box-shadow: 0 4px 2em #000;
	-moz-box-shadow: 0 4px 2em #000;

}

header .img-logo{
    margin-top: 6px;
    margin-bottom: 6px;
}

header a{  
    margin-left: 15px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;  
}


header nav a:hover {
    color: #fff;
}

header .navbar-btn {
    margin-right: 15px;
    font-size: 16px;
    display: inline-block;
    width: 100px;
    height: 40px;
    padding: 6px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: color 0.3s ease-out,
                background-color 0.3s ease-out,
                border-color 0.3s ease-out;
}
header .navbar-btn:hover,
header .navbar-btn:active {
    background-color: rgba(17, 78, 58, 0.4);
    border-color: #fff;
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
}

/*Principal 1º section*/
#container {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#about {
    background: linear-gradient(rgba(0, 24, 16, 0.9),rgba(0,0,0,.70)100%), url('/img/account.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    width:50%;
    height: 92vh;
}

.text{
    margin: 90px 50px 0px 50px;
    font-size: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text p{
    text-align: justify;
    margin-bottom: 50px;
}

.text span{
    font-size: 22px;
    font-weight: bold;
    color:rgb(44, 161, 122);
}

/*Principal 2º section*/
#register {
    background: linear-gradient(0deg, rgb(31,137,102) 0%, rgba(46,203,151,0.4) 100%);
    width: 50%;
    height: 92vh;
    margin-left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

form{
    background: rgba(255, 247, 205, 0.9);
    padding: 40px 70px;
    box-shadow: 0 4px 1em rgba(0, 0, 0, 0.6);
    border-radius: 6px;
}

.form{
    width: 100%;
    margin: auto;
}

form .group{
    position: relative;
    margin: 45px 15px;
}

input{
    background: none;
    color:rgba(0, 0, 0, 0.6);
    padding: 3px 5px 10px 8px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

input:focus{
    outline: none; /*Sem borda ao clicar para escrever*/
    color: #000;
}

label{
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 8px;
    left: 8px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -16px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(16, 116, 82);
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: rgb(31,137,102);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}

.form button{
    background: rgb(44, 194, 144);
    border: none;
    display: block;
    width: 90%;
    margin: 10px auto;
    color: #000;
    height: 40px;
    font-size: 18px;
    border-radius: 2px;
    transition: color 0.3s ease-out,
                background-color 0.3s ease-out,
                border-color 0.3s ease-out;
}

.form button:hover,
.form button:active {
    background-color: rgb(33, 148, 110);
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
}

/*Principal fetch*/
#container-fetch {
    background: rgba(252, 236, 160, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#fetch {
    margin: 30px;
    width: 100%;
}